.div{ 
    border-radius: 20px; 
    margin-left: 10px; 
    height: 200px; 
    background-color: #e70808; 
    flex: 1; 
    transition: .3s all ease; 
}
.div:hover{ 
    flex: 2; 
    background-color: rgb(207, 207, 207);
}
important
Le Merurice {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

