
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas: 
        "header header header"
        "sidebar main sidebar"
        "footer footer footer";
    height: 100vh;
}

.grid-container   header{
    grid-area:inherit;
    background-color: #333;
    color: #000000;
    padding: 20px;
}

.grid-container main{
    grid-area: main;
    background-color: #000000;
    padding: 20px;
}

.grid-container aside{
    grid-area: sidebar;
    background-color: #000000;
    padding: 20px;
}

.grid-container footer{
    grid-area: footer;
    background-color: #333;
    color: #000000;
    padding: 20px;
}