body {
  background-color: rgb(176, 255, 174);
}
*{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
  color: rgb(245, 210, 57);
}
h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
p {
  color: red;
  text-align: center;
}
p {
  text-align: center;
  color: red;
}
p.center {
  text-align: center;
  color: red;
}
